* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.body {
  font-family: 'Comic Neue', Helvetica, sans-serif;
  color: black;
}

html {
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-size: 16px;
}

.myVideo {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  z-index: -1;
}

.myVideo h1 {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-size: 6rem;
  z-index: 3;
}

.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-size: 16px;
}

.menuHeader {
  top: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  width: 100vw;
  height: 3rem;
  margin-bottom: 2vh;
  position: fixed;
  position: relative;
  z-index: 5;
}

.only {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  background-color: yellow;
}

.only a {
  padding: 1rem;
  font-size: 0.7rem;
  font-weight: bold;
  text-decoration: none;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 30px;
      flex-basis: 30px;
  color: #233674;
  margin-right: auto;
  font-weight: 900;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: 'Comic Neue', Helvetica, sans-serif;
  top: 0;
  left: 0;
  padding-left: 1.5vw;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #233674;
  background-color: white;
  border-radius: solid white 5px;
}

:-ms-input-placeholder {
  color: #233674;
  background-color: white;
  border-radius: solid white 5px;
}

::-ms-input-placeholder {
  color: #233674;
  background-color: white;
  border-radius: solid white 5px;
}

::placeholder {
  color: #233674;
  background-color: white;
  border-radius: solid white 5px;
}

input {
  width: 6vw;
  font-size: 0.7rem;
  border: 1px solid white;
  border-radius: solid white 5px;
  border-radius: 5px;
  margin-right: 1rem;
}

.only .active {
  color: #F7932F;
}

.only a:hover {
  color: #8C5A27;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.logo {
  width: 10rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  width: 5rem;
  border-radius: 30px;
}

.underline {
  width: 30%;
  margin-left: 35%;
  margin-left: 35%;
}

.logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.logo img {
  width: 150px;
  border-radius: 30px;
  z-index: 2;
  position: fixed;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 6vh;
      grid-template-rows: 6vh;
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
}

.menu {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  position: relative;
  border-radius: 7px;
  top: 0;
  left: 0;
  vertical-align: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainCont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50%, 0%;
      grid-template-columns: 50%, 0%;
  -ms-grid-rows: 25vh 1fr;
      grid-template-rows: 25vh 1fr;
  width: 80vw;
  grid-column-gap: 3vw;
  margin: 0 auto;
  padding-bottom: 5vh;
}

.checkReceptenText {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  color: black;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3.5rem;
  font-family: 'Comic Neue', Helvetica, sans-serif;
}

.alleRecButton {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  padding: 0.7rem;
  text-decoration: none;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 1.5rem;
      flex-basis: 1.5rem;
  background-color: #233674;
  border: 1px solid #233674;
  color: white;
  border-radius: 30px;
  margin: 8px;
  font-size: 1.3rem;
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-weight: normal;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bolder;
  width: 28rem;
  margin: 0 auto;
}

.alleRecButton:hover {
  background-color: white;
  color: #0d0d52;
  -webkit-transition: 500ms;
  transition: 500ms;
  border: 1px solid #0d0d52;
}

.alleRecButton a {
  color: white;
}

.alleRecButton a:hover {
  color: #0d0d52;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Comic Neue', Helvetica, sans-serif;
}

html {
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-size: 16px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-weight: bold;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-weight: bold;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.buttonsWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
}

.buttons a {
  padding: 0.7rem;
  text-decoration: none;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 1.5rem;
      flex-basis: 1.5rem;
  background-color: #233674;
  border: 1px solid #233674;
  color: white;
  border-radius: 30px;
  margin: 8px;
  font-size: 1.3rem;
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-weight: normal;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bolder;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.button a {
  padding: 1.3rem;
  text-decoration: none;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  background-color: #BFB526;
  border: 1px solid #BFB526;
  color: black;
  border-radius: 30px;
  margin: 8px;
  font-size: 1.8rem;
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-weight: normal;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.buttons a:hover {
  background-color: white;
  color: #233674;
  -webkit-transition: 700ms;
  transition: 700ms;
  border: 1px solid #233674;
}

.button a:hover {
  background-color: #F7932F;
  color: black;
  border: 1px solid #BFB526;
}

section .hero {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.herotext {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  text-align: center;
  line-height: 170%;
  font-family: 'Comic Neue', Helvetica, sans-serif;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto 0;
  align-items: center;
  position: relative;
  top: 0;
}

.hero div {
  padding: 15px;
  text-decoration: none;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  font-size: 20px;
  font-weight: normal;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.herophoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.herophoto img {
  width: 80%;
  margin: 0 auto;
}

.herotext {
  margin: 0 auto;
}

.hero .herowelcome {
  font-size: 30px;
  font-family: 'Comic Neue', Helvetica, sans-serif;
  margin: 0 auto;
}

#buttonsIndex {
  margin: 2vh 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  top: 0;
}

.heroabout {
  padding-top: 5vh;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  color: black;
  padding-left: 1vw;
  -ms-grid-columns: minmax(min-content, 300px) minmax(40vh) 3vh;
      grid-template-columns: minmax(-webkit-min-content, 300px) minmax(40vh) 3vh;
      grid-template-columns: minmax(min-content, 300px) minmax(40vh) 3vh;
}

.hero .herotext {
  font-size: 1.4rem;
}

.nieuwe_recepten {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-columns: (15rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 15rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55vw;
  margin: 0 auto;
}

.nieuwe_recepten img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  -o-object-fit: contain;
     object-fit: contain;
}

.nieuwe_recepten img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.recListItem {
  display: -ms-grid;
  display: grid;
  width: 100%;
}

.recListImg {
  overflow: hidden;
  margin: 0 1rem;
}

.recListImg img {
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  -o-object-fit: contain;
     object-fit: contain;
}

.recListItem h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: center;
  margin-top: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-size: 16px;
}

.footer {
  width: 100%;
  margin: 0 auto;
  left: 0;
  bottom: 0;
  background-color: #233674;
}

.footerCont {
  color: white;
  width: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[auto-fit];
      grid-template-columns: repeat(auto-fit, 25%);
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Comic Neue", Helvetica, sans-serif;
  padding-bottom: 2vh;
}

.mediaFooter .mediaFooterCont .mediaFooterText {
  display: none;
}

.mobileFooterText a {
  display: none;
}

.mediaFooterText a {
  display: none;
}

.footer a {
  color: white;
  line-height: 2.7rem;
  font-size: 1.1rem;
  font-weight: 100;
  margin: 0 2.5vw;
  cursor: pointer;
}

.footer a:hover {
  color: #BFB526;
}

#fHead {
  font-size: 1.3rem;
  color: #BFB526;
  line-height: 3rem;
  font-weight: bold;
}

#fHead:hover {
  color: white;
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
  .footer .footerCont .mobileFooterCont .mobileFooterSubCont .mobileFooterText {
    display: none;
  }
  .footerCont {
    display: none;
  }
  .mediaFooterCont {
    display: block;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    left: 0;
    bottom: 0;
    background-color: #233674;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .mediaFooterText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mediaFooterText a {
    display: block;
    font-size: 1.1rem;
    color: #BFB526;
    line-height: 2.4rem;
    text-decoration: none;
    font-size: bold;
    font-family: 'Comic Neue', Helvetica, sans-serif;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    display: none;
  }
  .footerCont {
    display: none;
  }
  .mediaFooterText {
    display: none;
  }
  .mobileFooterText {
    display: block;
    width: 100%;
    margin: auto;
    height: 10%;
    margin: 0 auto;
    left: 0;
    bottom: 0;
    background-color: #233674;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-family: 'Comic Neue', Helvetica, sans-serif;
  }
  .mobileFooterText a {
    display: block;
    font-size: 1.1rem;
    color: #BFB526;
    line-height: 2.4rem;
    text-decoration: none;
  }
}

@media screen and (max-width: 600px) {
  .mainCont {
    display: -ms-grid;
    display: grid;
    background-color: #0d0d52;
    color: whitesmoke;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    width: 100%;
    padding-bottom: 3vh;
  }
  .myVideo {
    display: none;
  }
  .grid-container {
    display: none;
  }
  .checkReceptenText {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */