* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	font-family: 'Comic Neue', Helvetica, sans-serif;
	font-size: 16px;
	scroll-behavior: smooth;
  }

// MENU //

@import 'menu';

//BODY
@import 'ok_colors';
@import 'buttons';

.menuHeader {
	position: fixed;
}

// ABOUT

//Scroll to top


.to-top {
    background: white;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: dimgrey;
    opacity: 0;
    pointer-events: none;
	transition: all .4s;
	font-size: 2.5rem;
	z-index: 10;
    }
    
    .to-top.active {
        bottom: 2rem;
        pointer-events: auto;
        opacity: 1;
	}
	
	
	

	// Body

.titleWhite {
	width: 80vw;
	margin: 0 10vw;
	color: white;
	text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
	height: 32vh;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-size: 8rem;
	line-height: 10rem;
	font-weight: 600;
	margin: 37vh auto;
  border-radius: 15px;
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-weight: bolder;
}


.titleBlack {
	width: 80vw;
	margin: 0 10vw;
	color: rgb(27, 27, 27);
	text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.7);
	height: 32vh;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-size: 8rem;
	line-height: 10rem;
	font-weight: 600;
	margin: 37vh auto;
  border-radius: 15px;
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-weight: bolder;
}

.title a {
	display: flex;
	justify-content: center;
	text-align: center;
	
}

.imgCont {
	position: absolute;
    left: 0px;
    top: 0px;
	z-index: -1;
	height: 100vh;
	width: 100%;
}

.imgCont img {
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

.imgOverlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	background: rgba(254, 254, 255, 0.2);
}

.aubergineImgOverlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	background: rgba(254, 254, 255, 0.2);
}

/// main body

.AboutText {
	width: 80vw;
	margin: 7vh auto;
	// text-align: center;
	line-height: 5.5vh;
	font-size: 1.8rem;
	font-family: 'Comic Neue', Helvetica, sans-serif;
}

.serveerContent a {
	transition: 500ms;
}

.serveerContent a:hover {
color: $ctaHover;
}

.HeadText {
	font-size: 2rem;
	line-height: 4rem;
	display: flex;
	align-items: center;
	background-color: rgb(236, 166, 73);
	color: rgb(59, 53, 53);
	margin: 10vh auto;
	justify-content: center;
	font-weight: bold;
}

//boulion

.Bouillon {
	display: grid;
	display: flex;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	width: 70vw;
	margin-left: 15vw;
	margin-right: 15vw;
	margin-bottom: 5vh;
}

.borshIngsLeft {
width: 50%;
}

.borshIngsRight {
width: 50%;
}

.ingH1 {
	width: 100vw;
	margin: 8vh auto;
	background-color:#736C1D;
	line-height: 4rem;
	font-weight: bold;
font-family: 'Comic Neue', Helvetica, sans-serif;
color: white;
}

.ingH1 h1 {
	width: 100vw;
	margin: 8vh auto;
	text-align: center;
	font-size: 2rem;
	margin-bottom: 2vh;
font-weight: bold;
font-family: 'Comic Neue', Helvetica, sans-serif;
justify-content: center;
}

.eggHead {
	font-size: 2.3rem;
	font-family: 'Comic Neue', Helvetica, sans-serif;
	color:  rgb(35, 54, 116);
	width: 70vw;
	margin: 0 auto;
	font-weight: bold;
	text-align: center;
	margin-top: 8vh;
	line-height: 3rem;
}
.ingredienten {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	width: 70vw;
	margin: 5vh auto;
}

.ingredientenCont h1 {
	font-size: 1.7rem;
	margin-bottom: 2vh;
}

.ingredienImage {
	width: 1rem;
	margin-right: 1vw;
	display: flex;
	align-items: center;
	line-height: 4vh;
}

.serveerContent a {
	color: rgb(35, 54, 116);
	font-weight: bold;
	cursor: pointer;
}

.ingredienImage img {
	width: 1vw;
}

.ingredienText {
	font-size: 1.5rem;
	line-height: 4.5vh;
	display: flex;
	align-items: center;
	font-family: 'Comic Neue', Helvetica, sans-serif;
	text-align: center;
}

// .ingredienItem {
// 	height: 6vh;
// }

.stap img {
	border-radius: 10px;
}

//Bereiding van Borsh

.bereidingVan {
	display: grid;
	width: 70vw;
	margin: 5vh auto;
}

.step {
margin: 3vh 0;
width: 70vw;
}

.bereidingVan span {
	font-weight: 800;
}

.bereidingVan p {
	font-size: 2.2vw;
}

.stepText {
	font-size: 1.5rem;
	font-weight: 500;
	font-family: 'Comic Neue', Helvetica, sans-serif;
	line-height: 3rem;
}

.button {
	margin: 5vh 0;
}

.button a {
	cursor: pointer;
}

.step2Pics {
	display: grid;
	display: flex;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	// background-color: seagreen;
	justify-content: space-around;
}

.step2Pics img {
	width: 15vw;
}

.step3Pics {
	display: grid;
	display: flex;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	// background-color: seagreen;
	justify-content: space-around;
}

.step3Pics img {
	width: 25vw;
}

.step4Pics {
	display: grid;
	display: flex;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	// background-color: seagreen;
	justify-content: space-around;
}

.step4Pics img {
	width: 25vw;
}

.step5Pics {
	display: grid;
	display: flex;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	// background-color: seagreen;
	justify-content: space-around;
}

.step5Pics img {
	width: 15vw;
}

.step6Pics {
	display: grid;
	display: flex;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	// background-color: seagreen;
	justify-content: space-around;
}

.step6Pics img {
	width: 25vw;
}

.step7Pics {
	display: grid;
	display: flex;
	justify-content: center;
	// background-color: seagreen;
}

.step7Pics img {
	width: 25vw;
}

.end {
	display: grid;
	// display: flex;
	grid-template-rows: 6vh 6vh 1fr;
	grid-template-columns: 1fr;
	width: 70vw;
	margin-left: 15vw;
	margin-right: 15vw;
	justify-content: center;
	margin-bottom: 2vw;
	font-family: 'Comic Neue', Helvetica, sans-serif;
}


.begin {
	display: grid;
	// display: flex;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	width: 80vw;
	justify-content: center;
	font-family: 'Comic Neue', Helvetica, sans-serif;
	font-weight: bold;
}


.serveer {
	margin-bottom: 2vh;
}

.end img {
	width: 3vw;
}

.begin img {
	width: 3vw;
}



.genietPic {
	display: grid;
	display: flex;
	justify-content: center;
}

.genietText {
	display: grid;
	display: flex;
	justify-content: center;
	font-size: 1.2rem;
}

.genietUkr {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 4vw 1fr;
	margin-right: 2vw;
}

.genietNl {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 4vw 1fr;
}

.genietUkrVlag {
	display: flex;
	width: 3vw;
	align-items: center;
}

.genietUkrText {
	display: flex;
	align-items: center;
	font-family: 'Comic Neue', Helvetica, sans-serif;
}

.genietNlVlag {
	display: flex;
	width: 3vw;
	align-items: center;
}

.genietNlText {
	display: flex;
	align-items: center;
}

.serveer {
	display: grid;
	// margin-bottom: 4vh;
}

.serveerHead {
	display: grid;
	grid-template-columns: 4vw 1fr;
	grid-template-rows: 1fr;
	display: flex;
	align-items: center;
	margin-bottom: 1.5vh;
	margin-top: 2vh;
	font-size: 1.5rem;
	font-weight: 800;
}

.serveerContent {
	line-height: 4vh;
	font-size: 1.5rem;
	margin-bottom: 3vh;
	line-height: 3rem;
}

.serveerText {
	margin-left: 1vw;
}


//FOOTER

@import 'footer';

//MEDIA

@media screen and (max-width: 1000px) {
}
