* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-size: 16px;
}

.menuHeader {
  top: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  width: 100vw;
  height: 3rem;
  margin-bottom: 2vh;
  position: fixed;
  position: relative;
  z-index: 5;
}

.only {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  background-color: yellow;
}

.only a {
  padding: 1rem;
  font-size: 0.7rem;
  font-weight: bold;
  text-decoration: none;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 30px;
      flex-basis: 30px;
  color: #233674;
  margin-right: auto;
  font-weight: 900;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: 'Comic Neue', Helvetica, sans-serif;
  top: 0;
  left: 0;
  padding-left: 1.5vw;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #233674;
  background-color: white;
  border-radius: solid white 5px;
}

:-ms-input-placeholder {
  color: #233674;
  background-color: white;
  border-radius: solid white 5px;
}

::-ms-input-placeholder {
  color: #233674;
  background-color: white;
  border-radius: solid white 5px;
}

::placeholder {
  color: #233674;
  background-color: white;
  border-radius: solid white 5px;
}

input {
  width: 6vw;
  font-size: 0.7rem;
  border: 1px solid white;
  border-radius: solid white 5px;
  border-radius: 5px;
  margin-right: 1rem;
}

.only .active {
  color: #F7932F;
}

.only a:hover {
  color: #8C5A27;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.logo {
  width: 10rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  width: 5rem;
  border-radius: 30px;
}

.underline {
  width: 30%;
  margin-left: 35%;
  margin-left: 35%;
}

.usp {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  color: black;
  font-size: 3vw;
  padding-top: 8vh;
  position: relative;
  text-align: center;
  width: 70%;
  margin: 3rem auto;
  line-height: 3.7rem;
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-size: 2.2rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Comic Neue', Helvetica, sans-serif;
}

html {
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-size: 16px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-weight: bold;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-weight: bold;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.buttonsWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
}

.buttons a {
  padding: 0.7rem;
  text-decoration: none;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 1.5rem;
      flex-basis: 1.5rem;
  background-color: #233674;
  border: 1px solid #233674;
  color: white;
  border-radius: 30px;
  margin: 8px;
  font-size: 1.3rem;
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-weight: normal;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bolder;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.button a {
  padding: 1.3rem;
  text-decoration: none;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  background-color: #BFB526;
  border: 1px solid #BFB526;
  color: black;
  border-radius: 30px;
  margin: 8px;
  font-size: 1.8rem;
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-weight: normal;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.buttons a:hover {
  background-color: white;
  color: #233674;
  -webkit-transition: 700ms;
  transition: 700ms;
  border: 1px solid #233674;
}

.button a:hover {
  background-color: #F7932F;
  color: black;
  border: 1px solid #BFB526;
}

.buttons {
  width: 70%;
  margin: auto;
}

.recepten-container {
  margin-top: calc(3vh + (2vh + 3rem));
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 45vh 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 45vh 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  width: 100vw;
  margin-bottom: 3vh;
}

.uspText {
  font-size: 2.5rem;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.uspText p {
  line-height: 3.7rem;
  margin-bottom: 2vh;
  -ms-flex-preferred-size: 4rem;
      flex-basis: 4rem;
}

.recItemCont {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 5rem 25vh;
      grid-template-rows: 5rem 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4vh;
}

.recItemCont0 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: 100%;
}

.recItemCont1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.recItemCont2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.recItemCont3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.recItemCont4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.recItemCont5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.recItemCont6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.recHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recHeaderText {
  font-size: 2rem;
  padding: 0 2vw;
  font-weight: 600;
}

.recimages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  width: 100vw;
}

.recLogo img {
  width: 2.5rem;
  -webkit-transition: 800ms;
  transition: 800ms;
}

.recLogo img:hover {
  width: 3.3rem;
}

.img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 20vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 75% 25%;
      grid-template-rows: 75% 25%;
}

.imgItself {
  display: -ms-grid;
  display: grid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.recPicText {
  display: -ms-grid;
  display: grid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: 1.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1vh;
}

.img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.img-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

a .recPicText {
  color: black;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: 'Comic Neue', Helvetica, sans-serif;
  font-size: 16px;
}

.footer {
  width: 100%;
  margin: 0 auto;
  left: 0;
  bottom: 0;
  background-color: #233674;
}

.footerCont {
  color: white;
  width: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[auto-fit];
      grid-template-columns: repeat(auto-fit, 25%);
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Comic Neue", Helvetica, sans-serif;
  padding-bottom: 2vh;
}

.mediaFooter .mediaFooterCont .mediaFooterText {
  display: none;
}

.mobileFooterText a {
  display: none;
}

.mediaFooterText a {
  display: none;
}

.footer a {
  color: white;
  line-height: 2.7rem;
  font-size: 1.1rem;
  font-weight: 100;
  margin: 0 2.5vw;
  cursor: pointer;
}

.footer a:hover {
  color: #BFB526;
}

#fHead {
  font-size: 1.3rem;
  color: #BFB526;
  line-height: 3rem;
  font-weight: bold;
}

#fHead:hover {
  color: white;
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
  .footer .footerCont .mobileFooterCont .mobileFooterSubCont .mobileFooterText {
    display: none;
  }
  .footerCont {
    display: none;
  }
  .mediaFooterCont {
    display: block;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    left: 0;
    bottom: 0;
    background-color: #233674;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .mediaFooterText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mediaFooterText a {
    display: block;
    font-size: 1.1rem;
    color: #BFB526;
    line-height: 2.4rem;
    text-decoration: none;
    font-size: bold;
    font-family: 'Comic Neue', Helvetica, sans-serif;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    display: none;
  }
  .footerCont {
    display: none;
  }
  .mediaFooterText {
    display: none;
  }
  .mobileFooterText {
    display: block;
    width: 100%;
    margin: auto;
    height: 10%;
    margin: 0 auto;
    left: 0;
    bottom: 0;
    background-color: #233674;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-family: 'Comic Neue', Helvetica, sans-serif;
  }
  .mobileFooterText a {
    display: block;
    font-size: 1.1rem;
    color: #BFB526;
    line-height: 2.4rem;
    text-decoration: none;
  }
}
/*# sourceMappingURL=recepten.css.map */